.login-signup-view,
.movie-view {
    background-color: white;
}

.login-signup-view {
    margin-top: 100px;
}

.movie-view {
    margin-top: 76px;
}

.movie-card {
    margin-top: 84px;
}

.form-control:focus {
    background-color: white;
} 

.similar-movies-text {
    color: white;
}

.search-bar-row {
    margin-top: 90px;
}
