.card {
    border-color: white;
}

.movie-view {
    background-color: #182F40;
}

.similar-movies.justify-content-sm-center.row {
    background-color: #182F40;
}

.movie-view-card{
    max-width: 1100px;
    margin: auto;
}
